@model MilitaryAirfield.Models.Вооружение

@{
    ViewBag.Title = "Редактирование записи";
}

@{ if (Server.UrlDecode(Request.Cookies["My localhost cookies"]["Role"]) != "Админ"
                                  && Server.UrlDecode(Request.Cookies["My localhost cookies"]["Role"]) != "Работник ангара")
    {
<h5>Нет прав доступа!</h5>
        } }
<h2>Редактирование записи:</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Вооружение</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID_вооружения_судна)

        <div class="form-group">
            @Html.LabelFor(model => model.Используемые_ракеты, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Используемые_ракеты, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Используемые_ракеты, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Боевая_нагрузка_в_кг_, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Боевая_нагрузка_в_кг_, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Боевая_нагрузка_в_кг_, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Количество_точек_подвески, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Количество_точек_подвески, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Количество_точек_подвески, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Наличие_бомб, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Наличие_бомб)
                    @Html.ValidationMessageFor(model => model.Наличие_бомб, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Стрелково_пушечное_вооружение, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Стрелково_пушечное_вооружение, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Стрелково_пушечное_вооружение, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Вернуться назад", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
