@model IEnumerable<MilitaryAirfield.Models.Сотрудник_Воздушное_судно>

@{
    ViewBag.Title = "Таблица Связь сотрудника с воздушным судном";
}

@{ if (Server.UrlDecode(Request.Cookies["My localhost cookies"]["Role"]) == null)
    {
        <h5>Нет прав доступа!</h5>
    } }

        <h2>Таблица "Связь сотрудника с воздушным судном"</h2>

<p>
    @Html.ActionLink("Добавить запись", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Воздушное_судно.Регистрационный_номер_судна)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Сотрудник_аэродрома.Фамилия)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Воздушное_судно.Регистрационный_номер_судна)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Сотрудник_аэродрома.Фамилия)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Подробнее", "Details", new { id = item.ID }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
<p>
    @Html.ActionLink("Вернуться к списку таблиц", "Roles", "Home")
</p>