@model MilitaryAirfield.Models.Навигационная_система

@{
    ViewBag.Title = "Добавление записи";
}

@{ if (Server.UrlDecode(Request.Cookies["My localhost cookies"]["Role"]) != "Админ")
    {
        <h5>Нет прав доступа!</h5>
    } }
<h2>Добавление записи:</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Навигационная система</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Средняя_дальность_обнаружения_воздушной_цели, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Средняя_дальность_обнаружения_воздушной_цели, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Средняя_дальность_обнаружения_воздушной_цели, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Количество_одновременно_сопровождаемых_целей, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Количество_одновременно_сопровождаемых_целей, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Количество_одновременно_сопровождаемых_целей, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Количество_одновременно_атакуемых_целей, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Количество_одновременно_атакуемых_целей, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Количество_одновременно_атакуемых_целей, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Добавить" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Вернуться назад", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
