@model MilitaryAirfield.Models.Навигационная_система

@{
    ViewBag.Title = "Подробнее";
}

@{ if (Server.UrlDecode(Request.Cookies["My localhost cookies"]["Role"]) != "Админ"
                                   && Server.UrlDecode(Request.Cookies["My localhost cookies"]["Role"]) != "Работник ангара")
    {
        <h5>Нет прав доступа!</h5>
    } }
<h2>Подробнее:</h2>

<div>
    <h4>Навигационная система</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Средняя_дальность_обнаружения_воздушной_цели)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Средняя_дальность_обнаружения_воздушной_цели)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Количество_одновременно_сопровождаемых_целей)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Количество_одновременно_сопровождаемых_целей)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Количество_одновременно_атакуемых_целей)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Количество_одновременно_атакуемых_целей)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.ID_навигационной_системы }) |
    @Html.ActionLink("Вернуться назад", "Index")
</p>
