@model IEnumerable<MilitaryAirfield.Models.Навигационная_система>

@{
    ViewBag.Title = "Таблица Навигационная система";
}

@{ if (Server.UrlDecode(Request.Cookies["My localhost cookies"]["Role"]) == null)
    {
        <h5>Нет прав доступа!</h5>
    } }

<h2>Таблица "Навигационная система"</h2>

<p>
    @Html.ActionLink("Добавить запись", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Средняя_дальность_обнаружения_воздушной_цели)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Количество_одновременно_сопровождаемых_целей)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Количество_одновременно_атакуемых_целей)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Средняя_дальность_обнаружения_воздушной_цели)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Количество_одновременно_сопровождаемых_целей)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Количество_одновременно_атакуемых_целей)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = item.ID_навигационной_системы }) |
                @Html.ActionLink("Подробнее", "Details", new { id = item.ID_навигационной_системы }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.ID_навигационной_системы })
            </td>
        </tr>
    }

</table>
<p>
    @Html.ActionLink("Вернуться к списку таблиц", "Roles", "Home")
</p>