@model MilitaryAirfield.Models.Полеты

@{
    ViewBag.Title = "Редактирование записи";
}
@{ if (Server.UrlDecode(Request.Cookies["My localhost cookies"]["Role"]) != "Админ"
                   && Server.UrlDecode(Request.Cookies["My localhost cookies"]["Role"]) != "Работник командно-диспетчерский пункта")
    {<h5>Нет прав доступа!</h5> } }
<h2>Редактирование записи:</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Полеты</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Номер_рейса)

        <div class="form-group">
            @Html.LabelFor(model => model.Место_вылета, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Место_вылета, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Место_вылета, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Дата_и_время_вылета, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Дата_и_время_вылета, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Дата_и_время_вылета, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Место_прибытия, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Место_прибытия, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Место_прибытия, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Дата_и_время_прилета, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Дата_и_время_прилета, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Дата_и_время_прилета, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Номер_взлетной_полосы, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Номер_взлетной_полосы, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Номер_взлетной_полосы, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Расстояние_в_км_, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Расстояние_в_км_, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Расстояние_в_км_, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ID_Воздушного_судна, "Регистрационный номер судна", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ID_Воздушного_судна", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ID_Воздушного_судна, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Боевой_полет, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Боевой_полет)
                    @Html.ValidationMessageFor(model => model.Боевой_полет, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Вернуться назад", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
